<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdministradorServlet</servlet-name>
        <servlet-class>Controlador.AdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibrosServlet</servlet-name>
        <servlet-class>Controlador.LibrosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutorServlet</servlet-name>
        <servlet-class>Controlador.AutorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tipo_DocumentoServlet</servlet-name>
        <servlet-class>Controlador.Tipo_DocumentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscuelaServlet</servlet-name>
        <servlet-class>Controlador.EscuelaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LibroServlet</servlet-name>
        <servlet-class>Controlador.LibroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrestamoServlet</servlet-name>
        <servlet-class>Controlador.PrestamoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DevolucionServlet</servlet-name>
        <servlet-class>Controlador.DevolucionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VillabookServlet</servlet-name>
        <servlet-class>Controlador.VillabookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministradorServlet</servlet-name>
        <url-pattern>/AdministradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibrosServlet</servlet-name>
        <url-pattern>/LibrosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutorServlet</servlet-name>
        <url-pattern>/AutorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tipo_DocumentoServlet</servlet-name>
        <url-pattern>/Tipo_DocumentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscuelaServlet</servlet-name>
        <url-pattern>/EscuelaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibroServlet</servlet-name>
        <url-pattern>/LibroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrestamoServlet</servlet-name>
        <url-pattern>/PrestamoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DevolucionServlet</servlet-name>
        <url-pattern>/DevolucionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VillabookServlet</servlet-name>
        <url-pattern>/VillabookServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
</web-app>
