<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Pakhi an E-Commerce online Shopping Category Flat Bootstarp responsive Website Template| Products :: w3layouts</title>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/form.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pakhi Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'/>
    <!-- dropdown -->
    <script src="js/jquery.easydropdown.js"></script>
    <link href="css/nav.css" rel="stylesheet" type="text/css" media="all"/>
  		<script type="text/javascript">
  		  jQuery(document).ready(function($) {
  			   $(".scroll").click(function(event){		
  				    event.preventDefault();
  				    $('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
  			   });
  		  });
      </script>
  	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  	<!-- iCheck -->
    <link rel="stylesheet" href="plugins/iCheck/square/blue.css">
  	<link rel="stylesheet" href="css/font-awesome.min.css">
  	<link rel="stylesheet" href="css/estilos-catalogo.css">
  </head>
  <body>
    <!-- header-section-starts -->
  	<div class="c-header" id="home">
  		<div class="top-header">
  			<div class="container">
  			  <div class="logo">
  				  <a href="#"><h1 style="color: white;">Compucatalogo N° 1</h1></a>
  	 		  </div>
                <div class="header-top-right">
                   <div class="salir">
                       <a href="inicio.html">SALIR</a>
                   </div>
                </div>
  	 		  <!--
  			  <div class="header-top-right">
  				  <div class="search-box">
  					  <div id="sb-search" class="sb-search">
  				  		<form>
  								<input class="sb-search-input" placeholder="Ingrese el libro a buscar" type="search" name="search" id="search">
  								<input class="sb-search-submit" type="submit" value="">
  								<span class="sb-icon-search"> </span>
  							</form>
  						</div>
  				  </div>

  					<script src="js/classie.js"></script>
  					<script src="js/uisearch.js"></script>
  					<script>
  						new UISearch( document.getElementById( 'sb-search' ) );
  					</script>

  					<a href="cart.html"><i class="cart"></i></a>
  				</div>
  				-->
  			</div>
  		</div>
  	</div>

  	<!-- start Dresses-page -->
  	<!-- content-section-starts -->
    <br>
    <div class="container">
  	  <div class="ft-ball">
  		  <div class="cont span_2_of_3">
          <div class="herramientas-filtro">
            <div class="row">
              <div class="col-md-3 buscarPor">
                  <label for="">Buscar por: &nbsp;</label>
                  <select name="" id="filtro-origen" class="">
                    <option value="">.....</option>
                    <option value="">ISBN</option>
                    <option value="">Titulo</option>
                    <option value="">Autor</option>
                  </select>   
              </div>
              <div class="col-md-3">
                <div class="inputBuscarLibro">
                    <input type="text" id="filtro-fecha">
                </div>
              </div>
              <div class="col-md-1">
                <button class="btn btn-secondary btn-sm btnFiltrar">Filtrar</button>
              </div>
            </div>
          </div>
          <table class="catalogo" id="catalogo">
            <thead>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <div class="box1">
                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>
  				        <div class="clearfix"></div>
  			        </div>
              </tr>

              <tr>
                <div class="box1">
                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>
                  <div class="clearfix"></div>
                </div>
              </tr>

              <tr>
                <div class="box1">
                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>
                  <div class="clearfix"></div>
                </div>
              </tr>

              <tr>
                <div class="box1">
                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>
                  <div class="clearfix"></div>
                </div>
              </tr>

              <tr>
                <div class="box1">
                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>
                  <div class="clearfix"></div>
                </div>
              </tr>

              <tr>
                <div class="box1">
                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>
                  <div class="clearfix"></div>
                </div>
              </tr>

              <tr>
                <div class="box1">
                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>

                  <td>
                    <div class="col_1_of_single1 span_1_of_single1">
                      <div class="view1 view-fifth1">
                        <div class="top_box">
                          <h3 class="m_1">Titulo del Libro</h3>
                          <p class="m_2">Autor del Libro</p>
                          <a href="single.html">
                            <div class="grid_img">
                              <div class="css3"><img src="images/portada-libro.png" alt=""/></div>
                              <div class="mask1">
                                <div class="info">Solicitar</div>
                              </div>
                            </div>
                          </a>
                          <div class="price">Disponible</div>
                        </div>
                      </div>
                      <ul class="list2" style="list-style: none;">
                        <li>
                          <img src="images/plus.png" alt=""/>
                          <ul class="icon1 sub-icon1 profile_img">
                            <li><a class="active-icon c1" href="single.html">Solicitar </a>
                                <ul class="sub-icon1 list">
                                  <li><h3>Descripción del Libro</h3><a href=""></a></li>
                                  <li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
                                </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="clear"></div>
                    </div>
                  </td>
                  <div class="clearfix"></div>
                </div>
              </tr>

            </tbody>
          </table>
  			</div>
              
       	<div class="rsidebar span_1_of_left">
  				<section  class="sky-form menu">
            <h4>Escuela</h4>
  					<div class="row row1 scroll-pane">
  						<div class="col col-4">
  						<div class="radioButton">
  						    <label class="radiobutton">
                                <input type="radio" name="escuela" checked>
                                <span class="label-text">Todas (53)</span>
  						    </label>
  						</div>
  						<div class="radioButton">
                            <label class="radiobutton">
                                <input type="radio" name="escuela">
                                <span>Sistemas (20)</span>
                            </label>
  						</div>
  						<div class="radioButton">
                            <label class="radiobutton">
                                <input type="radio" name="escuela">
                                <span>Industrial (12)</span>
                            </label>
  						</div>
  						<div class="radioButton">
                            <label class="radiobutton">
                                <input type="radio" name="escuela">
                                <span>Transportes (10)</span>
                            </label>
  						</div>
  						<div class="radioButton">
                            <label class="radiobutton">
                                <input type="radio" name="escuela">
                                <span>Agroindustrial (1)</span>
                            </label>
  						</div>
  					  </div>
  					</div>
  					<h4>Tipo de Documento</h4>
  					<div class="row row1 scroll-pane">
  						<div class="col col-4">
                            <div class="radioButton">
                                <label class="radiobutton">
                                    <input type="radio" name="checkbox" checked>
                                    <span>Todos (11)</span>
                                </label>
                            </div>
                            <div class="radioButton">
                                <label class="radiobutton">
                                    <input type="radio" name="checkbox">
                                    <span>Libros (7)</span>
                                </label>
                            </div>
                            <div class="radioButton">
                                <label class="radiobutton">
                                    <input type="radio" name="checkbox">
                                    <span>Tesis (2)</span>
                                </label>
                            </div>
                            <div class="radioButton">
                                <label class="radiobutton">
                                    <input type="radio" name="checkbox">
                                    <span>Monografías (1)</span>
                                </label>
                            </div>
                            <div class="radioButton">
                                <label class="radiobutton">
                                    <input type="radio" name="checkbox">
                                    <span>Revistas (1)</span>
                                </label>
                            </div>
  						</div>
  					</div>
  				</section>
  		  </div>
  			<div class="clearfix"></div>
  		</div>
  	</div>
  	<!-- content-section-ends -->

  	<div class="footer">
  		<div class="up-arrow">
  			<a class="scroll" href="#home"><img src="images/up.png" alt="" /></a>
  		</div>
  		<div class="container">
  			<div class="copyrights">
  				<p>Copyright &copy; 2018 Todos los derechos reservados | Template by  <b>  Villabook</b></p>
  			</div>
  			<div class="footer-social-icons">
  				<a href="#"><i class="fb"></i></a>
  				<a href="#"><i class="tw"></i></a>
  				<a href="#"><i class="in"></i></a>
  				<a href="#"><i class="pt"></i></a>
  			</div>
  			<div class="clearfix"></div>
  		</div>
  	</div>
  	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
     <!-- iCheck -->
    <script src="plugins/iCheck/icheck.min.js"></script>
      <script>
          $(document).ready(function(){
              $('#catalogo').DataTable( {
                  "responsive": true,
                  "searching": false,
                  "lengthMenu":[[2,5,15,-1],[2,5,15,"Todos"]],
                  "language": {
                      "sProcessing":     "Procesando...",
                      "sLengthMenu":     "Mostrar _MENU_ registros",
                      "sZeroRecords":    "No se encontraron resultados",
                      "sEmptyTable":     "Ningún dato disponible en esta tabla",
                      "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                      "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                      "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                      "sInfoPostFix":    "",
                      "sSearch":         "Buscar:",
                      "sUrl":            "",
                      "sInfoThousands":  ",",
                      "sLoadingRecords": "Cargando...",
                      "oPaginate": {
                          "sFirst":    "Primero",
                          "sLast":     "Último",
                          "sNext":     "Siguiente",
                          "sPrevious": "Anterior"
                      },
                      "oAria": {
                          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                      }
                }
              } );
              
              $('input').iCheck({
                  checkboxClass: 'icheckbox_square-blue',
                  radioClass   : 'iradio_square-blue',
                  increaseArea : '20%' // optional
              });
              
          });
        
    </script>
  </body>
</html>